{% extends 'base.html.twig' %}

{% block body %}
    <div class="static-content">
        <p class="italic">Mario se baladait de page en page, lisant insatiablement chaque fiction, lorsque, soudain,
        au détour d'un lien, le message suivant apparut&nbsp;:</p>
        <h1 class="center">Cette page n'existe pas&nbsp;!</h1>
    </div>
{% endblock %}